.contact_header_section {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 0rem 4rem 0rem;
  width: 600px;
}

.copy,
.gallery_message {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.tattoo_gallery {
  margin-top: 1rem;
  background-color: #1d1b20;
  height: 540px;
  width: 800px;
}

@media (max-width: 1200px) {
  .contact_header_section,
  .tattoo_gallery {
    width: 100%;
  }

  .contact_header_section {
    margin-top: 6rem;
    padding: 0rem 1rem 0rem 1rem;
  }

  .gallery_message {
    display: none;
  }

  .tattoo_gallery {
    height: auto;
    margin-top: 0rem;
  }
}
