.contact_header_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  width: 600px;
}

.header {
  font-family: var(--main-font);
  margin-bottom: 0.5rem;
}

.sub_header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: lightgray;
  margin-bottom: 2rem;
}

.form_section {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}

.name,
.email,
.message,
.send {
  font-size: 20px;
  display: flex;
  padding: 0.5rem;
  margin: 0.2rem 0rem 1rem 0rem;
  border-radius: 5px;
  border: 1px solid var(--foreground);
  width: 100%;
}

.message {
  height: 120px;
}

.send {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: lightgray;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.send:hover {
  color: var(--background);
  background-color: var(--foreground);
}

.required_error {
  padding-bottom: 0.5rem;
}

@media (max-width: 667px) and (hover: none) {
  .header {
    margin-top: 1rem;
  }
  .sub_header {
    margin-bottom: 1rem;
  }

  .form_section, .header_section {
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
  }

  .form_section {
    margin-top: 3rem;
  }

  .header_section {
    padding: 0rem;
  }
  .send {
    text-align: center;
  }
}
