.copy_container {
  display: flex;
  align-items: flex-end;
}

.logo {
  width: 120px;
  height: auto;
  margin-right: 1rem;
}

.copyright {
  margin: 0rem 0rem 1rem 1rem;
}

@media (max-width: 667px) {
  .logo {
    width: 80px;
  }
}