.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 7, 6, 0.9);
  z-index: 1000;
}

.success_modal {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  border-radius: 5px;
  color: var(--background);
  background: rgba(211, 211, 211);
}

.copy_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  font-family: var(--main-font);
  padding-right: 4rem;
  margin-bottom: 0.5rem;
}

.message {
  font-weight: 400;
  margin-bottom: 2rem;
}

.closeButton {
  font-size: 40px;
  color: black;
  background-color: white;
  padding: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 667px) {
  .success_modal {
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 0rem;
    border-radius: 0px;
  }
  .copy_section {
    width: 90%;
    margin: 0rem 1rem 0rem 1rem;
  }
  .heading {
    padding-right: 1rem;
  }
  .closeButton {
    font-size: 40px;
    padding: 0.2rem;
  }
}
