.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
}

.navigate_section {
  display: flex;
}

.image_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  max-height: 540px;
  width: auto;
  cursor: zoom-in;
}

.description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  width: 800px;
  padding: 1rem 0rem;
  background-color: #1d1b20;
}

.zoom_overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  width: 800px;
  height: auto;
  background: var(--dm_background);
  z-index: 1000;

  cursor: zoom-out;
  overflow: auto;
}

.zoomed_photo {
  width: 80%;
  height: auto;
  cursor: default;
  margin-left: 6rem;
}

.close_button {
  background: transparent;
  border: none;
  color: rgba(252, 251, 251, 0.5);
  font-size: 3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.indicator_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem;
  background-color: var(--dm_background);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 800px;
}

.gallery_button_left,
.gallery_button_right {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0px;
}

.icon {
  font-size: 40px;
  color: #98969c;
}

.indicator {
  font-size: 16px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #1d1b20;
}

.indicator.active {
  color: #98969c;
}

@media (max-width: 1200px) {
  .photo {
    pointer-events: none;
    width: 100%;
    height: auto;
    align-self: center;
  }

  .gallery,
  .description,
  .image_section,
  .navigate_section {
    width: 100%;
  }

  .indicator_section {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .indicators {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .indicator {
    font-size: 10px;
    margin-top: .2rem;
    margin-bottom: .2rem;
  }
}
