.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
}

.navigate_section {
  display: flex;
}

.gallery_button {
  background-color: transparent;
  cursor: pointer;
  align-self: center;
  border-radius: 0px;
}

.icon {
  font-size: 40px;
  color: var(--foreground);
}

.photo {
  max-height: 540px;
  width: auto;
  cursor: zoom-in;
}

.zoom_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 900px;
  height: auto;
  background: var(--dm_background);
  z-index: 1000;

  cursor: zoom-out;
  overflow: auto;
}

.zoomed_photo {
  width: 60%;
  height: auto;
  cursor: default;
}

.close_button {
  position: fixed;
  top: 0px;
  right: -30px;
  background: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.indicator_section {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--dm_background);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 800px;
}

.indicator {
  font-size: 16px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #1d1b20;
}

.indicator.active {
  color: #98969c;
}
