.hero_section {
  position: relative;
  margin-top: 6rem;
  width: 100%;
}

.hero_image_container {
  position: relative;
  width: 1100px;
}

.hero_copy_container {
  position: absolute;
  top: 160px;
  left: 800px;
  width: 400px;
}

.bio_container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.review_section {
  position: relative;
  margin-top: 4rem;
  width: 100%;
}

.review_image_container {
  position: relative;
  width: 1400px;
  overflow: hidden;
}

.review_copy_container {
  position: absolute;
  bottom: 420px;
  left: 80px;
  width: 1200px;
}

.header,
.header_review {
  margin-bottom: 0.5rem;
  width: 400px;
}

.header_review {
  width: 460px;
}

.copy,
.review_copy,
.note {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.bio_copy {
  position: absolute;
  right: 600;
  width: 600px;
}

.bio_photo {
  margin-right: 8rem;
}

.review_copy {
  margin-bottom: 2rem;
}

.note {
  color: lightgray;
}

.review_cards {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  width: 1200px;
  height: 326px;
  overflow: hidden;
}

.review_card {
  color: rgb(211, 211, 211, 0.6);
  width: 260px;
  padding: 1rem;
  border-radius: 5px;
  background: rgba(5, 5, 5, 0.2);
  margin: 0rem 0.5rem 0rem 0.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.review_card::-webkit-scrollbar {
  width: 6px;
}

.review_card::-webkit-scrollbar-thumb {
  background: transparent;
}

@media (hover: hover) {
  .review_card:hover {
    color: rgb(211, 211, 211);
    background: rgba(5, 5, 5, 1);
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    cursor: pointer;
  }
}

.review_card:hover::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4); /* Show on hover in Chrome */
}

.review_card:first-child {
  margin-left: 0rem;
}

.name {
  margin: 1rem 0rem 0.5rem 0rem;
}

@media (max-width: 1200px) {

  .hero_image_container,
  .hero_copy_container,
  .header_review,
  .bio_container,
  .bio_copy,
  .bio_photo,
  .review_image_container,
  .review_copy_container,
  .header,
  .review_cards,
  .review_card {
    width: 100%;
  }

  .hero_section,
  .bio_container,
  .review_section {
    position: static;
  }

  .hero_section,
  .bio_container {
    margin-bottom: 4rem;
  }

  .bio_container {
    flex-direction: column-reverse;
  }

  .bio_photo {
  margin-right: 0rem;
  height: auto;
}

  .review_section {
    margin-top: 0rem;
  }

  .review_image_container {
    margin-top: 4rem;
    top: 180px;
    margin-bottom: -580px;
  }

  .hero_copy_container,
  .bio_copy,
  .review_copy_container {
    position: static;
    top: auto;
    left: auto;
    padding: 1rem 1rem 0rem 1rem;
  }

  .review_copy_container {
    padding-top: 0rem;
    padding-bottom: 24rem;
  }

  .header_review {
    margin-top: -66rem;
    margin-bottom: 18rem;
    word-wrap: break-word;
  }

  .review_copy {
    margin-bottom: 1rem;
  }

  .review_cards {
    display: block;
    flex-direction: column;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
    scrollbar-width: thin; /* Thin scrollbar for Firefox */
    scrollbar-color: rgba(128, 128, 128, 0.4) transparent;
    border: 1px solid gray;
    background-color: black;
    border-radius: 5px;
  }

  .review_card {
    color: rgb(211, 211, 211);
    height: auto;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0rem 0rem 2rem 0rem;
    overflow: visible;
    border-bottom: 1px solid gray;
    border-radius: 0px;;
  }

  .review_card:first-child {
    margin-top: 1rem;
  }

  .review_card:last-child {
    border-bottom: none;
  }
}
