.main {
  padding-top: 5rem;
  position: relative;
  min-height: 1000px;
}
.image_container {
  position: absolute;
  align-self: flex-start;
  width: 1200px;
}

.copy_container {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 400px;
  width: 400px;
}

.header {
  margin-bottom: 0.5rem;
}

.copy {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  line-height: 28px;
}

@media (max-width: 800px) {
  .main {
    padding-top: 8rem;
  }
  .image_container {
    position: static;
    width: 100%;
  }
  .copy_container {
    left: auto;
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
  }
}
