.image_container {
  position: relative;
  align-self: flex-start;
  width: 1200px;
}

.header {
  margin-bottom: 0.5rem;
}

.copy_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  left: 200px;
  width: 400px;
}

.copy {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  line-height: 28px;
}

@media (max-width: 800px) {
  .image_container {
    width: 100%;
    margin-bottom: 1rem;
  }
}
