.link_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link {
  font-family: var(--main-font);
  width: 160px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1.2px;
  padding: 0.8rem;
  border-radius: 50px;
  background: rgba(211, 211, 211, 0.1);
  text-decoration: none;
}

.nav_link:hover {
  background: rgba(211, 211, 211, 0.5);
  border-bottom: none;
}

.mobile_nav {
  display: none;
}

.menu {
  display: none;
}

@media (max-width: 667px) {
  .link_container {
    display: none;
  }

  .mobile_nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 1rem;
    justify-content: space-between;
    z-index: 1001;
  }

  .nav_link {
    padding: 1rem;
    width: auto;
    border-radius: 0px;
    background: none;
  }

  /* mobile menu */

  .menu {
    top: 99px;
    width: 100%;
  }

  .menu.active {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    background-color: rgba(14, 7, 6, 0.9);
    z-index: 1000;
    border-top: 1px solid gray;
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .nav_link:hover {
    color: var(--foreground);
    background: var(--dm_background);
  }
  .mobile_nav {
    background-color: var(--dm_background);
  }
}

[data-theme="dark"] .nav_link:hover {
  color: var(--foreground);
  background: var(--dm_background);
}

[data-theme="dark"] .mobile_nav {
  background-color: var(--dm_background);
}
