.header_section {
  width: 660px;
  margin-left: 6rem;
  padding: 6rem 1rem 2rem 1rem;
}

.original_artwork_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.artwork_frame {
  width: 280px;
  height: 400px;
  margin: 0rem 1rem 2rem 1rem;
  transition: 0.5s ease-in-out;
}

.artwork {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.artwork_frame:hover {
  box-shadow: 12px 12px 0px 1px rgb(192, 191, 189);
  cursor: pointer;
}

@media (max-width: 667px) {
  .header_section {
    padding-top: 4.5rem;
    padding-bottom: 0rem;
    margin-left: 0rem;
    width: 90vw;
  }

  .artwork_frame {
    width: 90vw;
    height: auto;
    margin: 0rem 1rem 2rem 1rem;
  }

  .artwork_frame:hover {
    box-shadow: none;
    cursor: default;
  }
}
