.tattooing_header_section {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  width: 100%;
}

.tattooing_image_container {
  position: relative;
  width: 1000px;
}

.tattooing_header_container,
.tattooing_copy_container {
  position: absolute;
  bottom: 420px;
  left: 140px;
  width: 460px;
}

.tattooing_copy_container {
  top: 140px;
}

.copy,
.gallery_message,
.ig_button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.tattoo_gallery {
  margin-top: 1rem;
  background-color: #1d1b20;
  height: 540px;
  width: 800px;
}

.button_section {
margin-top: 6rem;
}

.ig_button {
  color: var(--foreground);
  background: var(--dm_background);
  font-weight: 400;
  padding: 1rem;
  width: 300px;
  border-radius: 50px;
  cursor: pointer;
}

.ig_button:hover {
  background: rgba(211, 211, 211, 0.5);
}

@media (max-width: 1200px) {
  .tattooing_header_section,
  .tattooing_image_container,
  .tattooing_header_container,
  .tattooing_copy_container,
  .tattoo_gallery,
  .ig_button {
    width: 100%;
  }

  .button_section {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0rem 1rem 0rem 1rem;
  }

  .ig_button {
    background: #98969c;
  }

  .tattooing_header_section {
    flex-direction: column;
  }

  .tattooing_header_container {
    position: relative;
    top: -840px;
    left: auto;
    padding: 1rem 1rem 0rem 1rem;
  }

  .tattooing_copy_container {
    position: relative;
    top: -100px;
    left: auto;
    padding: 1rem 1rem 0rem 1rem;
  }

  .tattooing_header_container,
  .tattooing_copy_container {
    bottom: auto;
  }

  .gallery_message {
    display: none;
  }

  .tattoo_gallery {
    height: auto;
    margin-top: 0rem;
  }
}
