.tattooing_header_section {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  width: 100%;
}

.tattooing_image_container {
  position: relative;
  width: 1000px;
}

.tattooing_header_container,
.tattooing_copy_container {
  position: absolute;
  bottom: 420px;
  left: 140px;
  width: 460px;
}

.tattooing_copy_container {
  top: 140px;
}

.copy {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.tattoo_gallery {
  background-color: #1d1b20;
  height: 540px;
  width: 800px;
}

@media (max-width: 1200px) {
  .tattooing_header_section,
  .tattooing_image_container,
  .tattooing_header_container,
  .tattooing_copy_container,
  .tattoo_gallery {
    width: 100%;
  }

  .tattooing_header_section {
    flex-direction: column;
    margin-bottom: 0;
  }

  .tattooing_header_container {
    position: relative;
    top: -800px;
    left: auto;
    padding: 1rem 1rem 0rem 1rem;
  }

  .tattooing_copy_container {
    position: relative;
    top: -300px;
    left: auto;
    padding: 1rem 1rem 0rem 1rem;
  }

  .header {
    margin-bottom: 0rem;
  }

  .tattooing_header_container,
  .tattooing_copy_container {
    bottom: auto;
  }

  .tattooing_copy_container {
    top: -80px; /* Reduce top spacing for mobile */
  }
}
