* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0px solid red;
}

:root {
  --background: rgb(14, 7, 6);
  --foreground: #ffffff;
  --dm_background: #3b3840;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: rgb(14, 7, 6);
  }
}

:root[data-theme="dark"] {
  --background: #ffffff;
  --foreground: rgb(14, 7, 6);
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--main-font);
}

/* important for accessibility font reszing */
.appContainer {
  font-size: 1rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2em;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2em;
}

p,
label {
  font-size: 1em;
}

/* accessibility font style */
.accessible-font {
  font-family: Arial, Verdana, sans-serif;
}

a {
  color: inherit;
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgba(14, 7, 6, 0.9);
  /* add blur at the bottom*/
  display: flex;
  flex-direction: row;
  padding: 2rem 0rem 2rem 0rem;
  align-items: center;
  z-index: 1000;
}

footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0rem 2rem 0rem;
  border-top: 1px solid lightgray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  animation: fadeIn 2s ease-in-out;
  width: 100%;
  padding: 0rem 0rem 6rem 0rem;
}

section {
  padding-top: 8rem;
  text-align: left;
  opacity: 0;
  transform: translateY(40px);
  z-index: 999;
}

section.visible {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1.5s ease-in, transform 1s ease-in;
}

@media (max-width: 800px) {
  section {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

form {
  width: 600px;
  text-align: left;
}

button {
  font-family: var(--main-font);
  padding: 0.5rem;
  border-radius: 5px;
  width: 120px;
}

/* responsive */
@media (max-width: 667px) {
  nav {
    border-bottom: none;
  }
  footer {
    width: 100%;
    font-size: 0.8rem;
  }
  main {
    width: 100%;
    padding: 2rem 1rem 6rem 1rem;
  }
  form {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
